<div class="pad-top">

	<h1>Fahrradkit Berlin</h1>
</div>
<div class="pad-top">

	<h3>Choriner Str, Berlin	</h3>
</div>
<div class="pad-bottom-double pad-bottom-extra">

<h3>giulia@fahrradkit.com</h3>
</div>
