<div class="pad-top">
	<h1>Welcome to Fahrradkit</h1>
</div>

<div class="pad-top">
	<h3>Just for bike freaks</h3>
</div>
<%#p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("work.png", class: "img-responsive my-image") %>
<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>
