.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 2, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
* {
  box-sizing: border-box;
}

/* line 5, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
body,
html {
  height: 100%;
}

/* line 9, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
body {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 79px;
  position: relative;
}

/* line 17, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.container {
  width: 80%;
  margin: none;
  padding: 8em 0;
}

/* line 22, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.container-fluid {
  width: 80%;
  margin: none;
}

/* line 26, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 35, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
h2 {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
}

/* line 40, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
h3 {
  font-size: 2.5em;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

/* line 46, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
h4 {
  font-size: 1em;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

/* line 52, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
p {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
}

/* line 59, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
h1 {
  font-weight: 700;
  font-size: 4em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* line 65, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.form-group {
  font-size: 1em;
  padding-top: 1em;
  text-align: center;
}

/* line 70, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pad-top {
  padding-top: 4em;
}

/* line 73, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pad-bottom {
  padding-bottom: 4em;
}

/* line 76, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pad-top-double {
  padding-top: 8em;
}

/* line 79, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pad-bottom-double {
  padding-bottom: 8em;
}

/* line 82, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.my-image {
  display: block;
  margin: auto;
  position: relative;
}

/* line 87, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.product-image {
  width: 150px;
  position: relative;
  margin: auto;
}

/* line 92, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

/* line 97, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination a,
.pagination span,
.pagination em {
  padding: 0.2em 0.5em;
}

/* line 102, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination .disabled {
  color: #aaaaaa;
}

/* line 105, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

/* line 110, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination a {
  border: 1px solid #dddddd;
  color: #B40431;
  text-decoration: none;
}

/* line 115, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination a:hover,
.pagination a:focus {
  border-color: #B40431;
  background: #B40431;
  color: white;
}

/* line 121, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

/* line 125, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination .previous_page,
.pagination .next_page {
  border-width: 2px;
}

/* line 129, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination .previous_page {
  margin-right: 1em;
}

/* line 132, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination .next_page {
  margin-left: 1em;
}

/* line 135, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.glyphicon {
  font-size: 0.5em;
  text-align: center;
  display: inline;
}

/* line 140, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.pagination a {
  border: 0px;
}

/* line 143, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.row {
  text-align: center;
}

/* line 146, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.text-muted {
  margin: 0 0 0 20px;
}

/* line 149, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
a:visited {
  color: #fff;
}

/* line 152, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
a:hover {
  background-color: #fff;
}

/* line 155, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
.comments {
  width: 100%;
  background-color: #f5f5f5;
}

@media (min-width: 768px) and (max-width: 979px) {
  /* line 160, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  body,
  p {
    text-align: center;
  }

  /* line 164, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  h2 {
    padding-top: 20px;
    text-align: center;
  }

  /* line 168, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .header-caption {
    top: 30%;
  }

  /* line 171, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .carousel-indicators {
    top: 50%;
  }

  /* line 174, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .carousel-caption {
    top: 40%;
  }

  /* line 177, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .inner-item img {
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  /* line 182, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  body,
  h3,
  p {
    text-align: center;
  }

  /* line 187, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  h2 {
    padding-top: 20px;
    text-align: center;
  }

  /* line 191, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  h1 {
    padding-top: 20px;
  }

  /* line 194, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .container {
    width: 80%;
  }

  /* line 197, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  #contact {
    padding-right: 10%;
    padding-left: 10%;
  }

  /* line 201, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .header-caption {
    top: 30%;
    font-size: 62.5%;
  }

  /* line 205, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .inner-item img {
    max-width: 150px;
  }

  /* line 208, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .carousel-caption {
    top: 30%;
  }
}
@media (max-width: 480px) {
  /* line 213, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  body,
  h3,
  p {
    text-align: center;
  }

  /* line 218, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  h2 {
    padding-top: 20px;
    text-align: center;
  }

  /* line 222, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .container {
    width: 90%;
  }

  /* line 225, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  #contact {
    padding-right: 5%;
    padding-left: 5%;
  }

  /* line 229, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .header-caption {
    top: 30%;
  }

  /* line 232, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .header-caption h2 {
    font-weight: 800;
    text-transform: uppercase;
  }

  /* line 236, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .carousel-caption {
    top: 60%;
  }

  /* line 239, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .about {
    text-align: center;
  }

  /* line 242, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  #copywright {
    width: 100%;
    text-align: center;
  }

  /* line 246, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  #fb-button {
    width: 50%;
    float: left;
  }

  /* line 250, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  #twitter-button {
    float: right;
    width: 50%;
  }

  /* line 255, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/products.scss */
  .inner-item img {
    width: 80%;
  }
}
/* line 1, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 2, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
* {
  box-sizing: border-box;
}

/* line 5, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
body,
html {
  height: 100%;
}

/* line 9, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
body {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 79px;
  position: relative;
}

/* line 17, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.container {
  width: 80%;
  margin: none;
  padding: 8em 0;
}

/* line 22, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.container-fluid {
  width: 80%;
  margin: none;
}

/* line 26, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 35, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
h2 {
  font-size: 3em;
  font-weight: 700;
  padding-bottom: 1em;
  text-align: center;
}

/* line 41, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
h3 {
  font-size: 2em;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1em;
}

/* line 48, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
h4 {
  font-size: 1em;
  font-weight: 700;
  line-height: 30px;
  padding: 1em 0;
}

/* line 54, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
p {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 30px;
  padding: 0.5em 0;
  text-align: center;
}

/* line 62, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
a:visited {
  color: #000;
}

/* line 65, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
form {
  padding-top: 10px;
  padding-bottom: 15px;
}

/* line 69, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.nav {
  color: #000;
  font-weight: 300;
  font-size: 1.5em;
}

/* line 74, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar {
  background-color: #fff;
  padding: 10px;
  z-index: 999;
  border: none;
  margin-bottom: 0;
}

/* line 81, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar a:hover {
  color: #B40431;
}

/* line 84, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #000;
}

/* line 87, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #B40431;
}

/* line 90, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav > li > a:focus {
  color: #B40431;
  font-weight: 700;
  background-color: transparent;
}

/* line 95, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #B40431;
}

/* line 100, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  border: 0;
}

/* line 103, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000;
}

/* line 106, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #B40431;
  color: #fff;
}

/* line 111, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-toggle {
  border: 0;
  background-color: #fff;
}

/* line 115, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-toggle:focus,
.navbar-toggle:hover {
  color: #fff;
  border-radius: 2px;
}

/* line 120, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-brand {
  padding-top: 10px;
}

/* line 123, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.main-title a,
.main-title a:active,
.main-title a:focus,
.main-title a:hover {
  text-decoration: none;
  background-color: #fff;
  font-weight: 800;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

/* line 133, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
h1 {
  font-weight: 700;
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* line 139, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.pad-top {
  padding-top: 4em;
}

/* line 142, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.pad-bottom {
  padding-bottom: 4em;
}

/* line 145, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.pad-top-double {
  padding-top: 8em;
}

/* line 148, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.pad-bottom-double {
  padding-bottom: 8em;
}

/* line 151, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.pad-bottom-extra {
  padding-bottom: 28em;
}

/* line 154, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.my-image {
  display: block;
  margin: auto;
  max-width: 200px;
  position: relative;
}

/* line 160, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* line 168, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.text-muted {
  margin: 0 0 0 20px;
}

/* line 171, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
a:visited {
  color: #000;
}

/* line 174, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
a:hover {
  background-color: #fff;
}

/* line 177, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-inner > .item > img {
  margin: 0 auto;
}

/* line 180, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel {
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
  position: relative;
}

/* line 186, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.inner-item {
  text-align: center;
}
/* line 188, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.inner-item img {
  margin: 0 auto;
}

/* line 192, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.active,
.carousel,
.item {
  height: 80%;
}

/* line 197, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-inner {
  margin: 0 auto;
  height: 100%;
  background-size: cover;
  position: relative;
}

/* line 203, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.fill {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 210, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
}

/* line 217, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-caption {
  font-family: 'Raleway', sans-serif;
  color: #000;
  text-decoration: none;
  text-shadow: none;
  position: absolute;
  top: 50%;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  left: 10%;
  right: 10%;
}

/* line 230, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-caption h3 {
  font-size: 2.5em;
  font-weight: 300;
}

/* line 234, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  width: 10%;
  text-decoration: none;
  text-shadow: none;
  z-index: 3;
  color: #B40431;
}

/* line 243, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-control:focus,
.carousel-control:hover {
  opacity: 0.9;
}

/* line 247, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-indicators li {
  border: 1px solid #B40431;
}

/* line 250, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-indicators .active {
  background-color: #B40431;
}

/* line 253, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.color-bg {
  background-color: #F7F7F7;
}

/* line 256, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.contact {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  background-attachment: fixed;
  background-size: cover;
  color: #000;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
}

/* line 265, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.form-control {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px dashed #000;
  border-radius: 0;
  box-shadow: none;
}

/* line 272, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.form-group {
  font-size: 1.6em;
  padding-top: 1em;
}

/* line 276, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
.form-group label {
  font-weight: 300;
}

/* line 279, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
#visible-comment {
  font-size: 1.6em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/* line 285, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
#char-count {
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
  padding: 20px 0;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 979px) {
  /* line 293, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  body,
  h2,
  p {
    text-align: center;
  }

  /* line 298, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .header-caption {
    top: 30%;
  }

  /* line 301, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .carousel-indicators {
    top: 50%;
  }

  /* line 304, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .carousel-caption {
    top: 40%;
  }

  /* line 307, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .inner-item img {
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  /* line 312, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  body,
  h2,
  h3,
  p {
    text-align: center;
  }

  /* line 318, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  h1 {
    padding-top: 20px;
  }

  /* line 321, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .container {
    width: 80%;
  }

  /* line 324, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  #contact {
    padding-right: 10%;
    padding-left: 10%;
  }

  /* line 328, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .header-caption {
    top: 30%;
    font-size: 62.5%;
  }

  /* line 332, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .inner-item img {
    max-width: 150px;
  }

  /* line 335, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .carousel-caption {
    top: 30%;
  }
}
@media (max-width: 480px) {
  /* line 340, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  body,
  h2,
  h3,
  p {
    text-align: center;
  }

  /* line 346, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .container {
    width: 90%;
  }

  /* line 349, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  #contact {
    padding-right: 5%;
    padding-left: 5%;
  }

  /* line 353, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .header-caption {
    top: 30%;
  }

  /* line 356, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .header-caption h2 {
    font-weight: 800;
    text-transform: uppercase;
  }

  /* line 360, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .carousel-caption {
    top: 60%;
  }

  /* line 363, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .about {
    text-align: center;
  }

  /* line 366, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  #copywright {
    width: 100%;
    text-align: center;
  }

  /* line 370, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  #fb-button {
    width: 50%;
    float: left;
  }

  /* line 374, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  #twitter-button {
    float: right;
    width: 50%;
  }

  /* line 379, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/static_pages.scss */
  .inner-item img {
    width: 80%;
  }
}
/* line 4, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.remember {
  font-size: 0.5em;
}

/* line 7, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.field {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 12, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
a:hover {
  /* color: #000; */
}

/* line 15, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
h3 {
  font-size: 2em;
  padding-top: 1em;
}

/* line 19, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.remember {
  color: #000;
  font-size: 0.7em;
  margin-top: 2px;
}

/* line 24, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
input[type=checkbox],
input[type=radio] {
  margin-right: 10px;
}

/* line 28, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.form-group {
  font-size: 1em;
  padding-top: 1em;
  text-align: center;
}

/* line 33, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.container {
  width: 80%;
  margin: none;
  padding-top: 0em;
  padding-bottom: 8em;
}

/* line 39, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.pad-top {
  padding-top: 4em;
}

/* line 42, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.pad-bottom {
  padding-bottom: 4em;
}

/* line 45, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.pad-top-double {
  padding-top: 8em;
}

/* line 48, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.pad-bottom-double {
  padding-bottom: 8em;
}

/* line 51, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.pad-bottom-extra {
  padding-bottom: 28em;
}

/* line 54, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

@media (max-width: 979px) and (min-width: 768px) {
  /* line 62, /Users/Giulia/Career_foundry 1/cf_template-6.14/nameofapp/app/assets/stylesheets/users.scss */
  h2 {
    padding-top: 0px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

