
<div class="container pad-top">

	<div class="">
	  <div class="panel-body">
	    <h3>Thank you for your purchase</h3>
	  </div><!-- / panel-body -->
	</div><!-- / panel -->
<%= link_to 'Back', products_path ,class:"btn btn-default" %>
</div>
